html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;       
  overflow-x: hidden;    
  background-color: antiquewhite;
}

#root {
  min-height: 100vh;     
  display: flex;
  flex-direction: column;
}

.app {
  flex: 1;
  display: flex;
  flex-direction: column;
}